/*
* 
* @author Henrique Sales
*/

/* Layout
-----------------------------*/
html, body, #home {
	height: 100%;
	overflow-x: hidden;
}

body {
	background: url(../assets/ceu.png),
				linear-gradient(50deg,#8127ee,#3ea6eb);
	width: 100%;
	background-attachment: fixed;
	font-family: Helvetica,Arial,sans-serif;
}

/* Barra de navegação
-----------------------------*/
nav.navbar-transparente {
	padding: 15px 0px;
	background: url(../assets/ceu.png),
				linear-gradient(50deg,#8127ee,#3ea6eb);
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
}

.navbar-light .navbar-nav .nav-link {
	color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #9bf0e1;
}

.navbar-light .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,0.5);
}

.divisor {
	width: 1px;
	background: white;
	margin: 12px 15px;
}

/* Capa
-----------------------------*/
.capa {
	text-align: center;
}

.btn-custom {
	color: white;
	border-radius: 500px;
	-webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    padding: 10px 20px;
}

.btn-roxo {
	background: #7c25f8;
}

.btn-roxo:hover {
	background: #6207e3;
	color: white;
}

.btn-branco {
	border: 2px solid white;
}

.btn-branco:hover {
	background-color: white;
	color: black;
}

.carousel-control-next, .carousel-control-prev{
	width: 5%;
}

/* Estrutura conteúdos
-----------------------------*/
.caixa {
	padding-top: 20px;
	padding-bottom: 20px;
}

#what-is, #why-use {
	background: white;
}

#how-work, #features {
	color: white;
}

#what-is, #why-use h2, h3 {
	color: #7c25f8;
}

#how-work h2, #features h2 {
	color: white;
}

#how-work h3, #features h3 {
	color: #00ffd0;
}

.albuns {
	padding: 10px 0;
}

.rotacionar {
	-ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
    transform: rotate(30deg);
	padding-left: 80px;
}

/* Rodapé
-----------------------------*/
footer {
	background: url(../assets/ceu.png),
				linear-gradient(50deg,#8127ee,#3ea6eb);
	padding: 50px 0px 20px 0px;
	position: relative;
}

footer h4 {
	color: #ffffff;
	font-size: 0.8em;
	text-transform: uppercase;
}

footer .navbar-nav a {
	color: white;
	font-size: 0.8em;
}

footer .navbar-nav a:hover {
	color: #9bf0e1;
	text-decoration: none;
}

footer ul {
	list-style: none;
}

footer ul li {
	float: right;
	margin: 0 5px;
}



/* Tipografia
-----------------------------*/
h1 {
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
	color: white;
}

h2 {
	font-size: 3em;
	font-weight: 700;
	letter-spacing: -0.04em;
}

h3 {
	font-size: 2em;
	font-weight: 700;
	letter-spacing: -0.04em;
}

a{
	font-size: larger;
}

p{
	font-size: 16px;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.btn-custom {
		margin: 10px 15px;
		font-size: 1em;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	h1 {
		font-size: 3em;
	}
	.btn-custom {
		margin: 10px 15px;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	h1 {
		font-size: 4em;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	h1 {
		font-size: 5em;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	h1 {
		font-size: 6em;
	}
}

/* Clouds */
.clouds img{
    width: 50px;
    animation: cloud 7s linear infinite;
}

.clouds{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -200px;
}

@keyframes cloud{
    0%{
        transform: translateY(0);
        opacity: 0;
    }

    50%{
        
        opacity: 1;
    }

    70%{
        
        opacity: 1;
    }

    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.clouds img:nth-child(1){
    animation-delay: 2s;
    width: 35px;
}

.clouds img:nth-child(2){
    animation-delay: 1s;
}

.clouds img:nth-child(3){
    animation-delay: 3s;
    width: 25px;
}

.clouds img:nth-child(4){
    animation-delay: 4.5s;
}

.clouds img:nth-child(5){
    animation-delay: 3s;
}

.clouds img:nth-child(6){
    animation-delay: 6s;
    width: 20px;
}

.clouds img:nth-child(7){
    animation-delay: 7s;
    width: 35px;
}
